<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FarmateApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Farmateandroid"
        tools:targetApi="31">

<!--        &lt;!&ndash; Set custom default icon. This is used when no icon is set for incoming notification messages.-->
<!--     See README(https://goo.gl/l4GJaQ) for more. &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@drawable/ic_stat_ic_notification" />-->
<!--        &lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming-->
<!--             notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_color"-->
<!--            android:resource="@color/colorAccent" />-->

        <service
            android:name=".AppMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="@string/kakao_oauth_host" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.DetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.MentorDetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.MenteeDetailActivity"/>
        <activity android:name=".ui.MyScrapedActivity"/>
        <activity android:name=".ui.MyServiceActivity"/>
        <activity android:name=".ui.SocialLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ui.WriteMenteeActivity"/>
        <activity android:name=".ui.WriteMentorActivity"/>
        <activity android:name=".ui.SigninInfoActivity"/>
        <activity android:name=".ui.SigninSelectActivity"/>
    </application>

</manifest>